/* * {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAFAF8;
}

img{
    width: 50px;
    height: 55px;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}

h2{
    margin-left: 5px;
    color: rgb(41, 42, 42);
    font-weight:400;
    font-size:1.9rem;
}
.input-tag{
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 9px 13px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    flex-grow: 1;
    min-width: 150px;
    max-width: 500px;

}
main{
    padding: 40px 30px;
}
form{
    display: flex;
    justify-content:center;
    gap: 12px;
    height: 40px;
}
form > button{
    background-color: rgb(17, 17, 17);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    border: none;
    width: 150px;
}
form > button::before{
    content: "+";
    margin-right: 5px;
}
 */

 * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.counter {
    display: flex;
    align-items: flex-end;
    align-self: center;
    margin-top: 40px;
}

.counter > button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #737373;
    color: #D9D9D9;
    font-size: 1.5rem;
}

.counter > button:hover {
    background-color: #404040;
    color: #D9D9D9;
}

.count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    margin-block: 0 10px;
    font-size: 2rem;
}

.plus {
    margin-left: -20px;
}

.minus {
    margin-right: -20px;
    z-index: 1;
}